@model WebApplication3.Models.Maliyet

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Maliyet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isin_Adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isin_Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isin_Adedi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isin_Adedi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pesin_Gelir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pesin_Gelir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idari_pay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idari_pay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shcek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shcek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.iscilik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iscilik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.malzeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.malzeme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ogretmen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ogretmen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ogrenci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ogrenci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Okul_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Okul_Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Maliyet_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
