@model WebApplication3.Models.Maliyet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Maliyet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isin_Adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isin_Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isin_Adedi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isin_Adedi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pesin_Gelir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pesin_Gelir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idari_pay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idari_pay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shcek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shcek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iscilik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iscilik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Malzeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Malzeme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ogretmen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ogretmen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ogrenci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ogrenci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Okul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Okul.OkulId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaliyetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
