@model IEnumerable<WebApplication3.Models.Maliyet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isin_Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isin_Adedi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesin_Gelir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idari_pay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shcek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iscilik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malzeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogretmen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogrenci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Okul)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isin_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isin_Adedi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pesin_Gelir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idari_pay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shcek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iscilik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Malzeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ogretmen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ogrenci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Okul.OkulId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaliyetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaliyetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaliyetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
